{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2>Список паролей</h2>
<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ресурс</th>
            <th scope="col">Логин</th>
            <th scope="col">Пароль</th>
        </tr>
    </thead>
    <tbody>
        {% for pass in pass_list %}
            <tr>
            <td><b>{{ pass.ip }}</b><br>
                {% for tag in pass.tags.all %}
                <a href="{{ tag.get_url }}"><span class="badge badge-primary">{{ tag }}</span></a>
                {% endfor %}
            </td>
            <td>{{ pass.login }}</td>
            <td>{{ pass.password }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

{% block tags %}
    <h2>Список тегов</h2>
    <ul>
    {% for tag in tags_list %}
        <li><a href="{{ tag.get_url }}">{{ tag.name }}</a> <span class="badge badge-primary">{{ tag.passwordmanager_set.count }}</span></li>
    {% endfor %}
    </ul>
{% endblock %}