{% extends 'base.html' %}

{% load static %}

{% block content %}
<h2>Список паролей</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">IP</th>
            <th scope="col">LOGIN</th>
            <th scope="col">PASSWORD</th>
            <th scope="col">TAG</th>
        </tr>
    </thead>
    <tbody>
        {% for pass in pass_list %}
            <tr>
            <td>{{ pass.ip }}</td>
            <td>{{ pass.login }}</td>
            <td>{{ pass.password }}</td>
            {% for tag in pass.tags.all %}
                <td>{{ tag }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block tags %}
    <h2>Список тегов</h2>
    <ul>
    {% for tag in tags_list %}
        <li><a href="{{ tag.get_url }}">{{ tag.name }}</a> ({{ tag.passwordmanager_set.count }})</li>
    {% endfor %}
    </ul>
{% endblock %}