{% extends 'base.html' %}

{% block title %}<title>Добавление записи</title>{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'new_post' %}" method='post'>

    {% csrf_token %}

    <div class="row">
        <div class="col-md-4">
            {{ form.ip|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.login|as_crispy_field }}
        </div>
        <div class="col-md-4">
            {{ form.password|as_crispy_field }}
        </div>
    </div>
    <div class="col">
        {{ form.tags|as_crispy_field }}
    </div>
    <button name="submit" class="btn btn-primary">Добавить запись</button>
    <hr>
    * - обязательно к заполнению
</form>
{% endblock %}

{% block tags %}
<h2>Добавление записи</h2>
{% endblock %}